.footer {
    background-color: rgb(226, 238, 234);
    height: 240px;
    margin-top: 60px;
    display: flex;
    text-align: center;
    font-size: 1.5rem;
}

.container {
    margin-top: 50px;
}


.favicon {
    width: 50px;
}

